<div class="outer mt-4">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-5">
        <div class="panel border bg-white">
          <div class="panel-heading">
            <h3 class="pt-3 px-3 font-weight-bold">Login</h3>
          </div>
          <div class="panel-body p-4">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            
              
              <div class="form-group pt-3">
                <div class="input-field">
                  <span class="fa fa-user p-2">
                    <i class="bi bi-envelope-at"></i>
                  </span>
                  <input formControlName="email" type="text" placeholder="email">
                </div>
                <small *ngIf="loginForm.get('email')?.hasError('required')" class="text-danger">*Email is required*</small>
              </div>
              <div class="form-group pt-3">
                <div class="input-field">
                  <span class="fa fa-lock p-2">
                    <i class="bi bi-key"></i>
                  </span>
                  <input formControlName="password" type="password" placeholder="Password">
                </div>
                <small *ngIf="loginForm.get('password')?.hasError('required')" class="text-danger">*Password is required*</small>
              </div>

              <button type="submit" class="btn btn-primary btn-block mt-4 w-100">Login</button>
              <div class="text-center pt-4 text-muted">
                Don't have an account? <a routerLink="/Giris/Kaydol">Register</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
